<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
        <title>Portable Toilet Rentals Across the U.S. with Fast Delivery in New Jersey</title>
        <meta name="title" content="Portable Toilet Rentals Across the U.S. with Fast Delivery in New Jersey" />
        <meta name="robots" content="NOODP, NOYDIR, index, follow" />
        <link rel="canonical" href="https://newjerseyportapottyrental.com/" />
        <meta name="description" content="Need porta potty rentals in New Jersey? Porta NJ delivers across the U.S. with top-tier sanitation, ADA units, and fast service. Get a free quote today." />
        <meta property="og:title" content="Portable Toilet Rentals Across the U.S. with Fast Delivery in New Jersey" />
        <meta property="og:description" content="Need porta potty rentals in New Jersey? Porta NJ delivers across the U.S. with top-tier sanitation, ADA units, and fast service. Get a free quote today." />
        <meta property="og:type" content="article" />
        <meta property="og:site_name" content="PRT Portable Toilet Rental" />
        
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <meta name="google-site-verification" content="4OwxGymIKSx7qn-9PWeNSYp14iZ9B6ru3JDvrNTm3KI" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0GGS6Y0PKC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0GGS6Y0PKC');
</script>

    <!-- Favicon -->
    <link href="static/img/favicon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="static/lib/animate/animate.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="static/aloomaspecial/alooma.css">
    
<link rel="stylesheet" href="static/aloomaspecial/alooma.css"><link rel="stylesheet" href="static/aloomaspecial/alooma2.css"></head>

<body>
    
    <!-- Navbar & Carousel Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            <img src="static/img/skywalker.png" style="width: 3.5%; height: 55px;"/>
            <a href="/" class="navbar-brand p-0">
                <h1 class="m-0" style="padding-left: 10px;font-family: calibri; font-size: larger;">Portta Potty</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link active" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Home</a>
                    <a href="#review" class="nav-item nav-link" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Review</a>
                    <a href="#ourservices" class="nav-item nav-link" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Our services</a>
                    <a href="#about" class="nav-item nav-link" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">About</a>
                </div>
                
                <a href="tel:201-510-1574" class="btn btn-primary py-2 px-4 ms-3" style="background-color: red;border: solid white; border-radius: 15px; font-weight: bold;">Contact Us</a>
            </div>
        </nav>

        <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="static/img/carousel-1.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase mb-3 animated slideInDown" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Welcome To</h4>
                            <h1 class="display-4 text-white animated zoomIn" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">PRT Portable Toilet Rental USA</h1>
                            <p style="font-size: larger; font-family: Verdana, Geneva, Tahoma, sans-serif;">We provide customized portable toilet solutions tailored to unique site requirements. This includes options for handwashing stations, holding tanks, and environmentally friendly units with water-saving features. We also assist with determining the appropriate number of units based on expected foot traffic and local regulations.</p>
                            <a href="tel:201-510-1574" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight" style="background-color: red; border: solid white; font-size: small; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold; font-size: medium; border-radius: 15px;">CLICK HERE TO CALL US (201) 510-1574</a>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
    <!-- Navbar & Carousel End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(10, 32, 67, 0.7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->
    
        <!-- template 1 just one subtopic -->
    <br><br>
    <div class="containeralooma">
        <section class="boxalooma">
        <div class="row">
            <div class="">
                <h2 class="template1 h2alooma">Portable Toilet Rentals Across the U.S. with Fast Delivery in New Jersey</h2>
                <p class="template1 palooma"><br>Need porta potty rentals in New Jersey? PRT Portable Toilet Rental delivers across the U.S. with top-tier sanitation, ADA units, and fast service. Get a free quote today.<br><br>Wherever sanitation is needed, PRT Portable Toilet Rental delivers. We’re a portable toilet rental company serving New Jersey and the entire U.S. with fast, high-quality solutions. From Newark construction sites to outdoor festivals in Atlantic City, PRT Portable Toilet Rental offers a wide selection of porta potty units to suit every situation. Whether your event serves 50 guests or 5,000, we make sanitation simple and professional—no hidden fees, no hassle.<br><br></p>
                
                <div class="callalooma"><a href="tel:2015101574">Click Here To Call Us (201) 510-1574</a></div>
            </div>
            
        </div>
        </section>
    </div>    <br><br><br><br>
    <!-- template 7 -- two subtopic with a list and image-->
    <div class="containeralooma">
        <section class="boxalooma">
        <div class="row">
            <div class="col-m-6 col-l-6">
                <h2 class="template4 h2alooma">Standard Portable Toilets</h2>
                <p class="template4 palooma"><br>Our standard units are rugged, ventilated, and spacious enough for consistent use on busy job sites or weekend events. These come with toilet paper, a secure door lock, and hand sanitizer inside.<br><br>
                </p>
                
                <div class="callalooma mx-auto"><a href="tel:2015101574">Click Here To Call Us (201) 510-1574</a></div>
                <br><br>
                <img class="aloomacssidimage" src="static/images/Luxury Portable Toilets for Special Events.jpg" alt="Luxury Portable Toilets for Special Events">
            </div>
            <div class="col-m-6 col-l-6">
                <img class="aloomacssidimage" src="static/images/Best Portable Toilet Solutions for Outdoor Needs.jpg" alt="Best Portable Toilet Solutions for Outdoor Needs">
                <br><br>
                <h2 class="template4 h2alooma">Deluxe Flushable Toilets</h2>
                <p class="template4 palooma"><br>Looking for comfort and cleanliness? Deluxe units provide hands-free flushing, built-in sinks, and upgraded interior features that enhance the restroom experience for guests.<br><br></p>
                
                <div class="callalooma mx-auto"><a href="tel:2015101574">Click Here To Call Us (201) 510-1574</a></div>
            </div>
        </div>
        </section>
    </div>
        <br><br><br><br>
    <!-- template 6 just 1 subtopic and image -->
    <div class="containeralooma">
        <section class="boxalooma">
        <div class="row">
            <div class="col-m-8 col-l-8">
                <h2 class="template4 h2alooma">ADA-Compliant Restrooms</h2>
                <p class="template4 palooma"><br>Everyone deserves accessible facilities. PRT Portable Toilet Rental offers fully ADA-compliant portable toilets that are wheelchair-accessible, have non-slip floors, and are easy to maneuver in.<br><br></p>
                
            <div class="callalooma mx-auto"><a href="tel:2015101574">Click Here To Call Us (201) 510-1574</a></div>
        </div>
        <div class="col-m-4 col-l-4">
        <img style="width: 100%" class="aloomacssidimage" src="static/images/Dependable Porta Potty Services for Large Events.jpg" alt="Dependable Porta Potty Services for Large Events">
        <br>
        </div>
    </div>
        </section>
    </div>    <br><br><br><br>
    <!-- template 7 -- two subtopic with a list and image-->
    <div class="containeralooma">
        <section class="boxalooma">
        <div class="row">
            <div class="col-m-6 col-l-6">
                <h2 class="template4 h2alooma">Luxury Restroom Trailers</h2>
                <p class="template4 palooma"><br>Ideal for weddings, VIP events, and upscale occasions, our restroom trailers include running water, LED lighting, mirrors, flushing toilets, and air conditioning.<br><br>
                </p>
                
                <div class="callalooma mx-auto"><a href="tel:2015101574">Click Here To Call Us (201) 510-1574</a></div>
                <br><br>
                <img class="aloomacssidimage" src="static/images/Clean and Hygienic Porta Potty Rentals.jpg" alt="Clean and Hygienic Porta Potty Rentals">
            </div>
            <div class="col-m-6 col-l-6">
                <img class="aloomacssidimage" src="static/images/Premium Porta Potty Rental Solutions.jpg" alt="Premium Porta Potty Rental Solutions">
                <br><br>
                <h2 class="template4 h2alooma">Family-Friendly Units</h2>
                <p class="template4 palooma"><br>Designed for parents and kids, these oversized portable toilets include diaper changing stations and enough space for family assistance when needed.<br><br></p>
                
                <div class="callalooma mx-auto"><a href="tel:2015101574">Click Here To Call Us (201) 510-1574</a></div>
            </div>
        </div>
        </section>
    </div>
        <br><br><br><br>
    <!-- template 7 -- two subtopic with a list and image-->
    <div class="containeralooma">
        <section class="boxalooma">
        <div class="row">
            <div class="col-m-6 col-l-6">
                <h2 class="template4 h2alooma">High-Rise Units for Construction</h2>
                <p class="template4 palooma"><br>These compact, crane-liftable toilets are built for high-rise buildings and confined construction sites in places like Jersey City or Manhattan-adjacent zones.<br><br>
                </p>
                
                <div class="callalooma mx-auto"><a href="tel:2015101574">Click Here To Call Us (201) 510-1574</a></div>
                <br><br>
                <img class="aloomacssidimage" src="static/images/Rent a Porta Potty for Any Occasion.jpg" alt="Rent a Porta Potty for Any Occasion">
            </div>
            <div class="col-m-6 col-l-6">
                <img class="aloomacssidimage" src="static/images/Professional Portable Restroom Services.jpg" alt="Professional Portable Restroom Services">
                <br><br>
                <h2 class="template4 h2alooma">Handwashing & Urinal Stations</h2>
                <p class="template4 palooma"><br>Add extra hygiene with standalone sinks and urinal banks. These stations help reduce wait times and improve sanitary standards at large gatherings.<br><br></p>
                
                <div class="callalooma mx-auto"><a href="tel:2015101574">Click Here To Call Us (201) 510-1574</a></div>
            </div>
        </div>
        </section>
    </div>
        <br><br><br><br>
    <!-- template 2 -- single subtopic with a list-->
    <div class="containeralooma" id="ourservices">
        <section class="boxalooma">
        <div class="row">
            <h2 class="template2 mx-auto" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: black;">Sanitation Standards & Maintenance Commitment </h2>
            <p class="template2 palooma mx-auto"><br>Cleanliness is at the center of every PRT Portable Toilet Rental rental. All our units are deep-cleaned with hospital-grade disinfectants before and during each rental period. Servicing frequency depends on the size of your event or crew—many sites opt for daily or every-other-day cleanings.<br><br>We comply with all New Jersey Department of Environmental Protection guidelines and national sanitation standards. Our ADA units meet federal accessibility regulations, and we only use eco-safe chemicals for waste breakdown and odor control.<br><br>
            </p>
            <div class="">
                
                <div class="callalooma"><a href="tel:2015101574">Click Here To Call Us (201) 510-1574</a></div>
            </div>
                        
        </div>
        </section>  
    </div>    <br><br><br><br>
    <!-- template 6 just 1 subtopic and image -->
    <div class="containeralooma">
        <section class="boxalooma">
        <div class="row">
            <div class="col-m-8 col-l-8">
                <h2 class="template4 h2alooma">About PRT Portable Toilet Rental</h2>
                <p class="template4 palooma"><br>Founded in 2011, PRT Portable Toilet Rental has expanded from a small warehouse in Trenton to a national porta potty rental provider with service points across the country. Our team includes certified sanitation technicians and logistics coordinators with experience managing sanitation for events hosting 10 to 10,000 people.<br><br>We’re proud members of the Portable Sanitation Association International (PSAI) and have earned accolades from EventPro Vendor Awards for outstanding service and response times.<br><br>From major film productions to local sports tournaments, PRT Portable Toilet Rental is the go-to for professional-grade portable restroom rentals in New Jersey and beyond.<br><br></p>
                
            <div class="callalooma mx-auto"><a href="tel:2015101574">Click Here To Call Us (201) 510-1574</a></div>
        </div>
        <div class="col-m-4 col-l-4">
        <img style="width: 100%" class="aloomacssidimage" src="static/images/Reliable Porta Potty Rental for Events.jpg" alt="Reliable Porta Potty Rental for Events">
        <br>
        </div>
    </div>
        </section>
    </div>    <br><br><br><br>
    <!-- contact template 8 just 1 subtopic -->
    <div class="containeralooma" id="contact">
        <section class="boxalooma">
        <div class="row">
            <div class="col-12">
                <h2 class="template4 h2alooma">Reserve Your Portable Toilets Today – Serving New Jersey & Beyond</h2>
                <p class="template4 palooma"><br>No matter the size or type of your event or project, PRT Portable Toilet Rental is ready to help. With nationwide coverage and a core focus on New Jersey, we’re equipped to deliver fast, clean, and hassle-free portable toilet rentals—backed by real experience and clear pricing.<br><br>Call now to book your rental or request a quote—speak to a real person and get your questions answered fast.<br><br>
                </p>
                <div class="callalooma mx-auto"><a href="tel:2015101574">Click Here To Call Us (201) 510-1574</a></div>
            </div>
        </div>
        </section>
    </div>

    <br><br><br><br>
    <div class="containeralooma" id="contact">
        <section class="boxalooma">
        <div class="row">
            <div class="col-12">
                <h2 class="template4 h2alooma" style="margin-left: 400px;">Frequently Asked Questions in USA</h2>
                <h4 class="template4 palooma">How many porta-potties do I need for my event?
                </h4>
                <p>A general rule is 1 unit per 50 guests for a 4-hour event. Call us, and we’ll help calculate your specific needs.</p>
                <h4 class="template4 palooma">Do you offer same-day delivery in USA?
                </h4>
                <p>Yes, we maintain an inventory for urgent requests. Call before noon for same-day delivery options.</p>
                <h4 class="template4 palooma">Are your portable restrooms ADA compliant?
                </h4>
                <p>We offer ADA-compliant units that meet all federal and USA regulations.</p>
                <h4 class="template4 palooma">How often are the units cleaned?
                </h4>
                <p>Weekly service is included, with options for more frequent cleanings depending on use.</p>
                <h4 class="template4 palooma">Can I rent for just one day?
                </h4>
                <p>Yes! Daily, weekend, weekly, and long-term rental options are available.</p>
                <div class="callalooma mx-auto"><a href="tel:2015101574">Click Here To Call Us (201) 510-1574</a></div>
            </div>
        </div>
        </section>
    </div>    <br><br><br><br>
    <!-- Reviews  -->
    
    <div class="containeralooma" id="review">
        <section class="boxalooma" style="text-align: center;">
        <h2 class="heading-with-line template4 h2alooma">Customer Reviews</h2>
        <div class="row">
            
        <div class="col-m-4">
            <i class='fa-solid fa-star' style="color: gold; font-size: 20px;"></i><i class='fa-solid fa-star' style="color: gold; font-size: 20px;"></i><i class='fa-solid fa-star' style="color: gold; font-size: 20px;"></i><i class='fa-solid fa-star' style="color: gold; font-size: 20px;"></i><i class='fa-solid fa-star' style="color: gold; font-size: 20px;"></i>
            <p class="template4 palooma"> We needed 20 deluxe units for a multi-day fair in Paterson. PRT Portable Toilet Rental delivered exactly what we needed, on time, and the units stayed clean throughout.</p>
            <label for="" style="float: right;"> — Jose L.<br></label>
        </div>

        <div class="col-m-4">
            <i class='fa-solid fa-star' style="color: gold; font-size: 20px;"></i><i class='fa-solid fa-star' style="color: gold; font-size: 20px;"></i><i class='fa-solid fa-star' style="color: gold; font-size: 20px;"></i><i class='fa-solid fa-star' style="color: gold; font-size: 20px;"></i><i class='fa-solid fa-star' style="color: gold; font-size: 20px;"></i>
            <p class="template4 palooma">As a project manager on commercial builds, I’ve used several rental companies. PRT Portable Toilet Rental stands out for its flexibility and clean units. No complaints from the crew.</p>
            <label for="" style="float: right;"> — Andrea P.<br></label>
        </div>

        <div class="col-m-4">
            <i class='fa-solid fa-star' style="color: gold; font-size: 20px;"></i><i class='fa-solid fa-star' style="color: gold; font-size: 20px;"></i><i class='fa-solid fa-star' style="color: gold; font-size: 20px;"></i><i class='fa-solid fa-star' style="color: gold; font-size: 20px;"></i><i class='fa-solid fa-star' style="color: gold; font-size: 20px;"></i>
            <p class="template4 palooma">Our daughter’s wedding had 200 guests, and the luxury trailers from PRT Portable Toilet Rental were a hit. People were complimenting the bathrooms!</p>
            <label for="" style="float: right;"> — Brian & Melissa H.</label>
        </div>

        </div>
        </section>
    </div>    <br><br><br><br>
    <div class="containeralooma" style="background-color: transparent; width: 100%;">
        <section class="boxalooma" style="text-align: center;">
        <h2 class="heading-with-line template4 h2alooma">States In USA</h2>
        <div class="row">
            
        <div class="col-m-2" id="aloomafotter1">
            <div id="aloomafotter2"><a href="/nj" id="aloomafotter">New Jersey</a></div>
        </div>

        </div>
        </section>
    </div>
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light mt-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row gx-5">
                <div class="col-l-8 col-m-6">
                    <div class="row gx-5">
                        <div class="col-l-4 col-m-12 pt-0 pt-lg-5 mb-5" >
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0" style="font-family: calibri;">Disclaimer</h3>
                            </div>
                            <div class="link-animated d-flex flex-column justify-content-start" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                               <p>This site is a Portable toilet service to assist homeowners in connecting with local service providers. All contractors/providers are independent and this site does not warrant or guarantee any work performed. It is the responsibility of the homeowner to verify that the hired contractor furnishes the necessary license and insurance required for the work being performed. All persons depicted in a photo or video are actors or models and not contractors listed on this site.</p>
                                
                            </div>
                        </div>
                        <div class="col-l-4 col-m-12 pt-0 pt-lg-5 mb-5" >
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0" style="font-family: calibri;">Services</h3>
                            </div>
                            <div class="link-animated d-flex flex-column justify-content-start" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                                <a class="text-light mb-2" href="/"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                                <a class="text-light mb-2" href="#review"><i class="bi bi-arrow-right text-primary me-2"></i>Review</a>
                                <a class="text-light mb-2" href="#ourservices"><i class="bi bi-arrow-right text-primary me-2"></i>Our Services</a>
                                <a class="text-light mb-2" href="#about"><i class="bi bi-arrow-right text-primary me-2"></i>About</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-white bg-dark">
        <div class="container text-center">
            <div class="row justify-content-end">
                <div class="col-l-8 col-m-6">
                    <div class="d-flex align-items-center justify-content-left" style="height: 75px;">
                        &copy; 
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>
    <div class="scroll-arrow" id="scrollArrow">&#8675;</div> <!-- Upward pointing arrow -->
    <div class="callalooma mx-auto scroll-button" id="scrollButton"><a href="tel:201-510-1574">Click Here To Call Us (201) 510-1574</a></div>
      
      <script>
         window.addEventListener('scroll', function() {
               var button = document.getElementById('scrollButton');
               var arrow = document.getElementById('scrollArrow');
               if (window.scrollY > 500) {
                  button.style.display = 'block';
                  arrow.style.display = 'block';
               } else {
                  button.style.display = 'none';
                  arrow.style.display = 'none';
               }
         });
         // const data = {
         //    "Maimi": "#mpcstate",
         //    "Florida": "#mpccites",
         //    "Arizona": "#mpccounty",
         //    "Alaska": "#mpcstate",
         //    "Utah": "#mpccites",
         //    "Ohio": "#mpccounty",
         //    "Arkansas": "#mpcstate",
         //    "Cit": "#mpccites",
         //    "Coun": "#mpccounty"
         // };

         // const searchBar = document.getElementById('searchBar');
         // const resultsContainer = document.getElementById('results');

         // searchBar.addEventListener('input', function() {
         //    const query = searchBar.value.toLowerCase();
         //    resultsContainer.innerHTML = '';

         //    if (query) {
         //          resultsContainer.style.display = 'flex'; // Show results container
         //          for (const [key, value] of Object.entries(data)) {
         //             if (key.toLowerCase().includes(query)) {
         //                const resultItem = document.createElement('div');
         //                resultItem.className = 'result-item';
         //                resultItem.innerHTML = `<a href="${value}">${key}</a>`;
         //                resultsContainer.appendChild(resultItem);
         //             }
         //          }
         //    } else {
         //          resultsContainer.style.display = 'none'; // Hide results container
         //    }
         // });
      </script>



    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/lib/wow/wow.min.js"></script>
    <script src="static/lib/easing/easing.min.js"></script>
    <script src="static/lib/waypoints/waypoints.min.js"></script>
    <script src="static/lib/counterup/counterup.min.js"></script>
    <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="static/js/main.js"></script>
<script src="https://kit.fontawesome.com/c4c9a6665b.js" crossorigin="anonymous"></script></body>

</html>